.cards {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  row-gap: 32px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 1216px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(339px, 339px));
    column-gap: 30px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 669px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    row-gap: 20px;
  }
}
