.profile {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  margin: 0 auto;
}

.profile__title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  padding: 50px 0 100px;
}

@media screen and (max-width: 917px) {
  .profile__title {
    padding: 211px 0 73px;
  }
}

@media screen and (max-width: 669px) {
  .profile__title {
    padding: 47px 0 54px;
  }
}

.profile__form {
  padding-bottom: 189px;
  width: calc(100% - 2 * 435px);
  min-width: 410px;
}

@media screen and (max-width: 917px) {
  .profile__form {
    padding-bottom: 177px;
    width: calc(100% - 2 * 179px);
  }
}

@media screen and (max-width: 669px) {
  .profile__form {
    padding-bottom: 346px;
    max-width: 410px;
    min-width: calc(100% - 2 * 30px);
  }
}

.profile__subtitle {
  border: none;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-bottom: 15px;
  padding-right: 1px;
}

.profile__subtitle_input {
  font-weight: 400;
  text-align: right;
}

.profile__subtitle_input:focus {
  outline: none;
}

.profile__form-content {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px #e8e8e8 solid;
  margin-bottom: 15px;
}

@media screen and (max-width: 917px) {
  .profile__form-content {
    margin-bottom: 17px;
  }
}

.profile__form-content:last-child {
  border: none;
  padding-bottom: 0;
}

.profile__edit-button {
  border: none;
  background-color: transparent;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 669px) {
  .profile__edit-button {
    font-size: 12px;
  }
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile__logout-button {
  border: none;
  background-color: transparent;
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
  text-decoration: none;
}

@media screen and (max-width: 669px) {
  .profile__logout-button {
    font-size: 12px;
  }
}

.profile__logout-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
